

.about p {
    text-align: center;
    margin-top: 38px;
    font-size: 16px;
    line-height: 170.5%;
    
}
.about-section {
    margin: 5em 0;
}
.skills-box ul{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.skills-box ul li {
    color: var(--gray-color);
}
.skills-box  {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tools-logo {
    max-width: 50em;
    margin: auto;
    margin-top: 2em;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 60px;
    object-fit: contain;
}
.about-skills {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.logo-box p  {
    text-align: center;
}

.line-container {
    display: none;
}
.logos-tools-sectoion {
    margin: 5em 0;
}

@media only screen and (min-width: 1000px) {

    .skills {
        align-self: flex-end;
    }

}