

.about p {
    margin-top: 38px;
    font-size: 15px;
    line-height: 160.5%;
}
.skills-box ul{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.skills-box  {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tools-logo {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 60px;
    object-fit: contain;
}
.about-skills {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.logo-box {
    max-width: 30em;
}
.line-container {
    display: none;
}

@media only screen and (min-width: 1000px) {

    .about {
        max-width: 35em;
    }
    .skills {
        align-self: flex-end;
    }

}