h1 {
    color: var(--primary-color);
    font-size: 60px;
    letter-spacing: 3px;
}

h2 {
    font-size: 50px;
    color: var(--h-color);
    letter-spacing: 3px;
}
.tag {
    font-family: 'Yeseva One';
    font-size: 15px;
    color: var(--h-color);
}
.btn-hero{
    font-weight: 700;    
    font-size: 15px;
    padding: 12px 39px;
}