h1 {
    margin-top: 26px;
    color: var(--primary-color);
    font-size: 50px;
    letter-spacing: 3px;
}

h2 {
    margin: 29px 0;
    font-size: 40px;
    color: var(--h-color);
    letter-spacing: 3px;
}
.tag {
    font-family: 'Yeseva One';
    font-size: 15px;
    color: var(--h-color);
    
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    min-height: 42em;
}

.btn-hero{
    width: 250px;
    height: 60px;
    font-weight: 700;    
    font-size: 15px;
}
.img-box-hero img {
    display: none;
}
.hero-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-text p {
    font-size: 15px;
    line-height: 160.52%;
    margin-bottom: 29px;
}

@media only screen and (min-width: 1000px) {
    .hero {
        height: 90vh;
    }
    .img-box-hero img {
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    .img-box-hero {
        height: 100%;
    }
    .hero-text  {
        max-width: 650px;
    }
    .hero {
        justify-content: space-between;
    }
    h1 {
        margin-left: 20px;
        font-size: 60px !important;
    }
    h2 {
        margin-left: 20px;
        font-size: 50px !important;
    }
    .hero-text p {
        margin-left: 20px;
    }
}