.box-project {
    border-radius: 5px;
    background-color: var(--proj-bg);
    padding: 2em;
    position: relative;
    overflow: hidden;
}
.main-project {
    margin-top: 4em;
}
.project-h3 {
    justify-content: center;
    margin-bottom: 4em;
}

.box-project h2 {
    margin: 5px 0 20px 0;
}

.box-project i {
    color: var(--primary-color);
}

.box-project p {
    line-height: 173.19%;
}

.list-tools-used {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.list-tools-used b {
    background-color: rgb(61, 61, 61);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--h-color);
}

.btn-project {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    font-size: 1.5em;
}

.bg-poject {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    
}
.bg {
    height: 100%;
    width: 100%;
    position: relative;
}

.bg-poject img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


@media only screen and (min-width: 1000px) {
    .box-project {
        background: none;
        max-width: 1100px;
        margin: auto;
        overflow: visible;
    }
    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 95, 81, 0.705);
        transition: .3s ease-in-out;
    }
    .box-project:hover .overlay {
        background: rgba(0, 95, 81, 0);
    }
    .bg-poject {
        max-width: 637px;
        height: 24em;
    }
    .box-project h2 , .box-project i , .box-project p {
        display: block;
        text-align: end;
    }
    .text-project {
        position: relative;
    }
    .p-box {
        background-color: var(--projPC-bg);
        border-radius: 5px;
        z-index: 2;
        max-width: 514px;
        padding: 1em;
        margin-left: auto;
    }
    .list-tools-used {
        margin-left: auto;
        max-width: 374px;
    }
    .flex-project div:nth-child(even) .box-project .bg-poject {
        right: 0 !important;
        left: auto !important;
    }

    .flex-project div:nth-child(even) .text-project  h2{
        text-align: start !important;
    }
    .flex-project div:nth-child(even) .text-project .tag {
        text-align: start !important;
    }
    .flex-project div:nth-child(even) .text-project .p-box, p {
        margin: 0;
    }
    .flex-project div:nth-child(even) .text-project .p-box p {
        text-align: start;
    }
    .flex-project div:nth-child(even) .text-project .list-tools-used {
        margin-left: 0;
        justify-content: start;
    }
    .flex-project div.text-project .btn-project {
        justify-content: end ;
    }
    .flex-project div:nth-child(even) .text-project .btn-project {
        justify-content: start !important;
    }
    .flex-project div:nth-child(even) .box-project {
        margin-top: 4em;
        margin-bottom: 4em;
    }

}
