@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bgcolor);
  scroll-behavior: smooth;
}
.body-hidden {
  overflow: hidden;
}
:root {

  --bgcolor:  #1D1D1D;
  --primary-color: #08FDD8;
  --h-color: #ffffff;
  --p-color: #CCD6F6;
  --gray-color:#8892B0;
  --proj-bg: #333333f3;
  --projPC-bg: #333333;
}
button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  transition: .3s ease-in-out;
  
}
button::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #08fdd859;
  transition: .3s ease-in-out;
  z-index: -1;
}
button:hover{
  color: var(--h-color);
}
button:hover:before {
  width: 100%;
}
p {
  font-family: 'Roboto',sans-serif;
  color: var(--p-color);
}
h2,
h1,
h3 {
  font-family: 'Yeseva One',sans-serif;
}
h3 {
  color: var(--h-color);
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  margin-bottom: 38px;
}
h3 svg {
  width: 50%;
}
span {
  color: var(--primary-color);
  font-family: 'Allerta';
}
h4 {
  color: var(--p-color);
}

.number {
  color: var(--primary-color);
  font-family: 'Allerta',sans-serif;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
ul,li,a {
  list-style: none;
  text-decoration: none;
  color: var(--p-color);
}
a {
  cursor: pointer;
}
a:hover {
  color: var(--primary-color);
}



@media only screen and (min-width: 900px) {
  .container {
    width: 75%;
    margin: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 90%;
    margin: auto;
    max-width: 1300px;
  }
}

