@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--bgcolor);
  scroll-behavior: smooth;
}
.body-hidden {
  overflow: hidden;
}
:root {

  --bgcolor:  #1D1D1D;
  --primary-color: #08FDD8;
  --h-color: #ffffff;
  --p-color: #CCD6F6;
  --gray-color:#8892B0;
  --proj-bg: #333333f3;
  --projPC-bg: #333333;
}
.tag {
  color: var(--primary-color);
  font-family: 'Yeseva One';
  font-size: 15px;
}
button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  transition: .3s ease-in-out;
  position: relative;
  
}
button::before {
  content: "";
  width: 0;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #08fdd859;
  transition: .3s ease-in-out;
  z-index: -1;
}
button:hover{
  color: var(--h-color);
}
button:hover:before {
  width: 100%;
}
p {
  font-family: 'Roboto',sans-serif;
  color: var(--p-color);
}
h2,
h1,
h3 {
  font-family: 'Yeseva One',sans-serif;
}
h3 {
  color: var(--h-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  margin-bottom: 38px;
}
h3 svg {
  width: 50%;
}
span {
  color: var(--primary-color);
  font-family: 'Allerta';
}
h4 {
  color: var(--p-color);
}

.number {
  color: var(--primary-color);
  font-family: 'Allerta',sans-serif;
}
.container {
  width: 90%;
  overflow: hidden;
  margin: auto;
}
ul,li,a {
  list-style: none;
  text-decoration: none;
  color: var(--p-color);
}
a {
  cursor: pointer;
}
a:hover {
  color: var(--primary-color);
}



@media only screen and (min-width: 900px) {
  .container {
    width: 75%;
    margin: auto;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 90%;
    margin: auto;
    max-width: 1300px;
  }
}

.h1-bg {
  font-size: 140px !important;
  color: rgba(37, 37, 37, 0.48);
}
.bg-txt {
  position: absolute;
  right: -250px;
  top: 10%;
}
.bg-2 {
  margin-left: -1em;
  color: rgba(80, 80, 80, 0.48);

}
.about-section {
  position: relative;
}
.skills {
  position: relative;
}
.bg-skills-txt {
  position: absolute;
  top: 20%;
  right: 120%;
}
.skills .bg-2 {
  margin-left: -1em;
}
.logo-box {
  position: relative;
}
.logo-box .bg-txt {
  right: -220%;
}
@media only screen and (max-width: 1500px) {
  .bg-skills-txt,.bg-txt {
    display: none;
  }
}

.add-btn {
  z-index: 10;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: #08fdd818 !important;
}
.bg-form {
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  padding: 1em;
  top: 0;
background: rgba(3, 138, 104, 0.144);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.bg-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: var(--bgcolor);
  padding: 2.2em 1.2em;
  max-width: 35em;
  width: 100%;
  max-height: 55em;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}
.bg-form form input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  outline: none;
  background-color: #effcfa;
  border: none;
  padding: 5px ;
}
.bg-form form textarea {
  width: 100%;
  height:80px;
  resize: none;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #effcfa;
}

.bg-form form .file {
  width: auto;
  background: none !important;
  height: auto;
}
.bg-form form label {
  color: var(--primary-color);
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}
.bg-form form .submit {
  width: 150px;
  height: 35px;
}
.bg-form form .tools .list-tools  {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.bg-form form .tools .list-tools b {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
  cursor: pointer;
  background-color: #08fdd844;
  border: 1px solid var(--primary-color);
  color: var(--h-color);
  padding: 0 9px ;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.bg-form form .tools .list-tools b:hover {
  background-color: rgba(255, 0, 0, 0.164);
}
.tools-btn {
  display: flex;
  justify-content: space-between;
}
.tools-btn input {
  width: 83% !important;
}
.tools-btn button {
  width: 15%;
  height: 35px;
}
.tools-btn button:hover,.submit:hover {
  background-color: #00eeca3b !important;
}
.image-file {
  display: flex;
  justify-content: space-between;

}
.image-file .main-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-file img {
  width: 100%;
  height: 85px;
  object-fit: contain;
}
.submit-div {
  text-align: end;
}
.imgError {
  color: red;
  font-size: 13px;
}
.btn-google {
  position: fixed !important;
  bottom: 10px;
  width: 100px !important;
  font-size: 9px !important;
  background-color: #08fdd815 !important;
  color: #CCD6F6 !important;
}